---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Tweet from '../components/Tweet.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import FormattedDate from '../components/FormattedDate.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog')
posts.sort((a, b) => Date.parse(b.data.pubDate.toString()) - Date.parse(a.data.pubDate.toString()))
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<style>
		.description {
			color: #666;
			margin-top: 0;
			font-size: 1rem;
			margin-bottom: 1rem;
		}
		.post-container {
			padding: 0;
			margin: 0;
			list-style: none;
			/* space y 1 rem */
			display: grid;
			gap: 1rem;
		}
		.post-subcontainer {
			border-bottom: 1px solid #eaeaea;
			overflow: clip;
			margin-bottom: 15px;
		}
		.post {
			width : 100%;
			padding: 1rem;
			list-style: none;
			text-decoration: none;
			color: inherit;
			display: block;
			&:hover {
				background-color: #f9f9f9;
			}
			.label-container {
				display: flex;
				justify-content: space-between;
			}
			label {
				cursor: pointer;
				font-weight: 600;
			}
			small {
				display: block;
				margin-top: 0.5rem;
				font-size: 0.9rem;
				color: #666;
			}
		}
		a {
			text-decoration: none;
			color: inherit;
			display: flex;
			align-items: center;
			font-weight: 600;
			transition: font-weight 0.3s;
			
			&:hover {
				font-weight: 800;
			}
		}
		.tweet-footer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: #666;
			margin-top: 0.5rem;
			font-size: 0.9rem;
		}
	</style>
	<body>
		<main>
			<h1>Unresolved Conflict
<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-git-compare-arrows"><circle cx="5" cy="6" r="3"/><path d="M12 6h5a2 2 0 0 1 2 2v7"/><path d="m15 9-3-3 3-3"/><circle cx="19" cy="18" r="3"/><path d="M12 18H7a2 2 0 0 1-2-2V9"/><path d="m9 15 3 3-3 3"/></svg>
			</h1>
			<p class="description">A micro blog of sorts. Be wary of unfiltered thoughts.</p>
			<ul class="post-container">
				{posts.map((post) => (
					<li class="post-subcontainer">
					{
						post.data.isLongPost ? <a href={post ? '/blog/' + post.slug : '/'}>{post.data.title}
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-big-right"><path d="M6 9h6V5l7 7-7 7v-4H6V9z"/></svg>
						</a> : <div>
									<Tweet slug={post.slug} />
									<small class="tweet-footer">
										<FormattedDate date={post.data.pubDate} />
										<span>{post.data.tags ? post.data.tags.map((tag) => "#" + tag).join(", ") : ""}</span>
									</small>
							</div>
					}
					</li>))
				}
			</ul>
		</main>
		<Footer />
	</body>
</html>
