---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import MyHeader from '../components/Myheader.vue';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
const groupedPosts = {};
posts.forEach(post => {
	const date = post.data.pubDate.toDateString();
	if (!groupedPosts[date]) {
		groupedPosts[date] = [];
	}
	groupedPosts[date].push(post);
});
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<Header page={"/"} />
			<section>
				<ul>
					{
						Object.keys(groupedPosts).map((date) => (
							<li>
								<h5>{date}</h5>
								<ul>
									{
										groupedPosts[date].map((post) => (
											<li>
												<a href={`/blog/${post.slug}/`}>
													<p>{post.data.title}</p>
												</a>
											</li>
										))
									}
								</ul>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
	<style>
			main {
				width: 960px;
			}
			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li * {
				text-decoration: none;
				text-align: center;
				transition: 0.2s ease;
			}
			ul li:first-child .title {
				font-size: 2.369rem;
			}
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			}
		</style>
</html>
